/* Hide ErrorPages from CMS */
li.class-ErrorPage, li.class-IntelligentErrorPage {
	display: none !important;
}

/* Gray out Pages hidden from menus */
.notinmenu > a {
	color: #89878b !important;
}

/* Dashboard Colour Tweaks */
.dashboard-panel .dashboard-panel-header {
	background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#f8f8f8),to(#d5e1e8)) !important;
	background-image: -moz-linear-gradient(0% 100% 90deg,#f8f8f8,#d5e1e8) !important;
}

.dashboard-panel-footer {
	background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#f8f8f8),to(#d5e1e8)) !important;
	background-image: -moz-linear-gradient(0% 100% 90deg,#f8f8f8,#d5e1e8) !important;
}

/* Fixes extra margin on HTMLEditor Right Title labels */
.htmleditor.field label.right {
	margin-left: 0;
}
.class-VirtualLandingPage {
	display: none !important;
}